body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Playpen Sans', cursive;
    
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.header > img{
    width: 50%;
}